*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body, html{
    width: 100%;
    height: 100%;

}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 25vh 10vw;
}

.line{
   
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;

}

#line-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;

}

#line-part1 h5{
   
    font-size: 3vw;
  font-family: "silk serif";
  font-style: italic;
  font-weight: 300;
  width: 5vw;
  text-align: right;
}

 #line-part1 h6{
  font-size: 3vw;
  font-family: "silk serif";
  font-style: italic;
  font-weight: 300;
}

.line h1{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 900;
    font-family: "Plain Light";
    
}

.line h2{
    font-size: 5.5vw;
    text-transform: uppercase;
    font-weight: 900;
    animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    

}

@keyframes anime {

    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px solid #fff;
        font-weight: 500;
    }

    100%{
        /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
        font-style: italic;
        font-weight: 500;
    }
    
}

#main{
    background-color: #111;
    position: relative;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color: #0b0b0b;
}



